html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(153, 194, 194);


}

#main{
    background-color: rgb(0, 0, 0);
    width: 28rem;
    height: 40rem;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    margin: 100px auto;
    border-radius: 15px;
}

.screen {
    width: 26rem;
    height: 10rem;
    background-color: rgb(223, 240, 255);
    margin: auto;
    margin-top: 16px;
    border-radius: 10px;
    font-family: 'Monomaniac One', sans-serif;
}

.top,
.down {
   
    padding: 10px;
    margin: 0;

 
}
.top {
    font-size: 30px;
}

.down {
    font-size: 75px;
    size-adjust: 50%;
    margin: 0;
    padding-top: 0;
    text-align: right;

}


#numbers-container {
    height: 27rem;
    width: 26rem;
    margin: auto;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
   
   
}

.grid-col-span {
    grid-column: span 2;
}

.grid-row-span {
    grid-row: span 2;
}

button {
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(201, 201, 170);
    font-size: medium;
    font-weight: bold;
    border: 0;
    font-family: 'Orbitron';
}



.operator {
    background-color: gold;
}
.operator-transform {
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(247, 224, 94);
    font-size: medium;
    font-weight: bold;
    border: 0;
    transform: scale(0.98);
} 

.clear {
    background-color: rgb(255, 34, 34);
}

.clear-transform{
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(255, 82, 82);
    font-size: medium;
    font-weight: bold;
    border: 0;
    transform: scale(0.98);

}

.delete {
    background-color: rgb(118, 118, 255);
}

.delete-transform {
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(144, 144, 255);
    font-size: medium;
    font-weight: bold;
    border: 0;
    transform: scale(0.98);
}

.transform-button {
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(240, 240, 224);
    font-size: medium;
    font-weight: bold;
    border: 0;
    transform: scale(0.98);
}

.equals {
    background-color: rgb(13, 165, 157);
}

.equals-transform {
    background-color: rgb(64, 223, 215);
    margin: 2px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    border: 0;
    transform: scale(0.98);
}